/* START RESET */

html {
  font-size: 10px; /* stabilim dimensiunea de 1rem */
}

body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
input:focus,
textarea,
textarea:focus {
  border: unset;
  outline: unset;
  box-shadow: unset;
}

/* END RESET */

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
}

#loader > div {
  width: 100px;
  height: 100px;
  position: relative;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#loader .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-top: 5px solid #2b2922;
  border-left: 5px solid #2b2922;
  border-radius: 50%;
  animation: spin 2s infinite reverse ease-in-out;
}

#loader .outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95px;
  height: 95px;
  border-bottom: 5px solid #2b2922;
  border-right: 5px solid #2b2922;
  border-radius: 50%;
  animation: spin 2s infinite ease-in-out;
}
