// variabile in scss (functioneaza ca in js)
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@600&family=Roboto:wght@400;500&display=swap");

$color-danger: #ff4a1c;
$color-success: #629677;
$color-white: #ffffff;

$font-main: "Roboto", sans-serif;
$font-secondary: "IBM Plex Sans Arabic", sans-serif;
